<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Avocado Project - Overview</title>
    <!-- BOOTSWATCH THEME: SLATE -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
<body>
  <a name="top"></a>
  <!-- NAV BAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html"><img src="../static/images/avocado-icon.png" height="30" class="d-inline-block align-top" alt="Walmart logo" loading="lazy"> Avocado Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="purchasing-data.html">Purchasing Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="purchasing-power.html">Purchasing Power</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="forecast.html">Forecast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="compare.html">Compare AvoToast</a>
        </li>
      </ul>
    </div>
  </nav> 

  <!-- OVERVIEW -->
  <div class="row">
    <div style="background-image: url(../static/images/avocados-pits.jpg);width:100%;background-image:center;background-size: cover;background-position: center;padding:60px;">
        <div class="container">
            <div style="background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));text-align:center;padding:40px;">
                <h1 style="color:#fff;">Having Your Avocado Toast and Eating It Too</h1>
            </div>
        </div>
        <br clear="both"/>
    </div>
  </div>

  <div class="row" style="background-color:#ecf0f1;">
    <div class="container" style="padding:30px 0;">
      
      <div class="content-block">  
        <h2>Overview</h2>
        <hr/>
        <p><img src="../static/images/avotoast.png" style="width:410px;margin:10px;border-radius:3px;" align="right" alt="avocado toast" />Avocado toast is seen as a luxury market. Affording your first new home (while once a rite of passage for your average young American) is increasingly a luxury market as well. Millennials have been mocked for frivolously squandering their income on small luxuries instead of saving for a house of their own. The reality is homes are no longer affordable and wages are stagnate forcing many young people to come to the conclusion that the only luxury they will be able to afford in their lifetimes are little purchases… like avocado toast.</p>
        <p>Our question is “where can a millennial afford to own a home (And still eat their avocado toast)?" The answer can be found by looking at:</p>
          <ul>
            <li>median wages per county</li>
            <li>average home prices per county</li>
            <li>average avocado prices per county</li>
          </ul>  
          <p>By identifying the counties with where you have low wages, low housing prices, and low avocado prices, we can find the ideal climate for your first-time buyer - who might have low wages.</p>
          <p>We start by looking at your top markets for lowest housing prices. By doing this we define our market and prioritize our questions.</p>
          <p>Of those, we sort out which had the highest wages. This will give the buyer the best chance at affording a home.</p>
          <p>Once you have identified your ideal market, you compare it to the avocado markets available. If they are all in avocado markets, you select the best avocado prices (if organic is important, we have that information as well). These locations offer the best opportunity to “have your avocado toast and eat it too.”</p>
          <p>If none of them are in avocado markets, we will know that “you cannot have your avocado toast and eat it too.”</p>
          
      </div>
      <p style="text-align:center;"><button type="button" class="btn btn-success" onclick="window.location.href='purchasing-data.html'">Next: Avocado Purchasing Data</button></p>
      

    </div>

  </div>


  
<!-- FOOTER -->
<footer class="page-footer" style="background-color:#ecf0f1;padding-top:300px;display:block;">
  <div class="footer-copyright text-center py-3">© 2020 Copyright TheMUGSSProject3. UC Davis Data Analytics Boot Camp.</div>
</footer>
<!-- END FOOTER -->

<!-- JAVASCRIPT LIBRARIES -->
<script src="../static/drag-n-drop.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- JAVASCRIPT CHARTS -->

</body>
</html>

